*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.navigator{
    background:black;
    background-color: rgb(0,0,0,0.95);
    color: #FFFFFF ;
    position: fixed;
    top: 0px;
    width: 100%;
    
}
.navigator a{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    margin-left:2%;
    padding: 14px 16px;
    display: block;
    float: left;

}
.header{
        background: linear-gradient(rgba(0,0,0,0.7), rgba(255,255,255,0.7)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/RedDot_Burger.jpg/1200px-RedDot_Burger.jpg);
        background-size :cover;
        background-repeat: no-repeat;
        height: 100vh;
        color: white;
        font-size: 70px;
        text-align: center;
        padding: 20px;
}
.navigator a:hover{
    color:black;
    background: wheat;
    border-radius: 10px;

}
.header h1{
    text-transform: uppercase;
    padding: 18%;

}
.column{
    float: left; 
    width: 50%;
}
.column1{
    float: right;
    background-image: url('https://veann.com/wp-content/uploads/2017/04/Cafe_P_hazelnut_gougeres_smoked_peperonata-1000-750x500.jpg');
    height: 400px;
    width: 600px;
    box-shadow: 0 0 8px 8px white inset;
    background-position: center;
    background-size: cover;
}
.column2{
    margin-left: 0px;
    padding-left: 0px;
    margin-right:80px;
    float:left;
    background-image: url('https://gbc-cdn-public-media.azureedge.net/img9762.1426x713.jpg');
    height: 500px;
    width: 600px;
    box-shadow: 0 0 8px 8px white inset;
    background-position: center;
    background-size: cover;
}

#menu{
    padding: 3.5%;
}
#menu h1{
    color:rgba(0,0,0,0.65);
    font-family: Arial;
    font-size:45px;
    margin:2px;
}
#menu h5{
    font-size:20px;
    margin:4px; 
    margin-top:20px;
    margin-bottom: 15px;
}
#menu p{
    font-size: 15px;
    margin:10px;
}
.discount {
    background-color: red;
    background: radial-gradient(square at center,red 0%, red 70%, red 70.3%);
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 8px;
}

.price {
    background-color: red;
    background: radial-gradient(square at center,red 0%, red 70%, red 70.3%);
    border-radius: 15px;
    font-size: 15px;
    color: white;
    padding: 3px;
}
.row:after{
    content:"";
    display:table;
    clear: both;
}
#about{
    padding: 3.5%;
}

#about h1{
    color:rgba(0,0,0,0.65);
    font-family: Arial;
    font-size:45px;
    margin:2px;
}

#about h3{
    color:rgba(0,0,0,0.8);
    font-size:30px;
    margin:2px; 
}
#about p{
    color:rgba(0,0,0,0.9);
    font-size:25px;
    margin:2px;
    
}
#menu{
    padding: 3.5%;
}

#menu h1{
    font-family: Arial;
    font-size:45px;
    margin:2px;
}

#menu h5{
    font-size:20px;
    margin:4px; 
    margin-top:20px;
    margin-bottom: 15px;
}
#menu p{
    font-size: 15px;
    margin:10px;
}
#gallery h1{
    color:rgba(0,0,0,0.65);
    font-family: Arial;
    font-size:45px;
    margin-left:40%;
}
#gallery {
    
    background: #f1f1f1;
}
#figure{
    width: 90%;
    height: 600px;
    position:static;
    margin:5%;
    background-image: url("https://images.unsplash.com/photo-1555992336-03a23c7b20ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 100% 100%;
    box-shadow: 2px 2px 8px 3px black;
    animation: gallery 20s infinite;
}


#gallery figure img{
    float: left;
    width:20%;
}
@keyframes gallery{
    0%{background-image: url('https://images.unsplash.com/photo-1555992457-720eb4e75880?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    }
    25%{background-image: url('https://images.unsplash.com/photo-1555992337-27f220c610d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    }
    50%{background-image: url('https://images.unsplash.com/photo-1555992303-78fcc6e82520?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    }
    75%{background-image: url('https://images.unsplash.com/photo-1555992336-03a23c7b20ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); 
    }      
}
#contact{
    background:rgb(27, 27, 27);
    color: white;
    box-shadow: 0 0 8px 8px white inset;
}
#contact h1{
    font-family: Arial;
    font-size:45px;
    margin:2px;
    padding-left: 20px;
    padding-top: 10px;
}
#contact form{
    padding-left: 100px;
    font-size: 25px;
    margin:2px;
    padding:3.5%;
}

#contact p{
    float: left;
    font-size: 25px;
    margin:2px;
    padding:3.5%;
}
input[type="text"],input[type="email"],input[type="tel"]
{    
    width: 70%;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size:20px;
    border-radius: 10px;
    
}
input[ type="submit"]{
    width: 20%;
    border-radius: 10px; 
    height: 40px;
    
    
}
#contact img{
    width: 60px;
    height: 40px;
    padding-left: 20px;
}
#testimonials{
    color:rgba(0,0,0,0.65);
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
.inner{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 0 20px;
}

.border{
width: 160px;
height: 5px;
background: #6ab04c;
margin: 26px auto;
}

.row{
display: flex;
justify-content: center;
}
.col{
flex: 33.33%;
max-width: 33.33%;
box-sizing: border-box;
padding: 15px;
}
.testimonial{
background: #fff;
padding: 30px;
}
.testimonial img{
width: 100px;
height: 100px;
border-radius: 50%;
}
.name{
font-size: 20px;
text-transform: uppercase;
margin: 20px 0;
}


    

